<div class="container">
  <div class="block">
    <h1>weather forecast</h1>
    <div>
      <mat-form-field appearance="outline" [hideRequiredMarker]="false">
        <mat-label>City</mat-label>
        <input type="text" matInput [(ngModel)]="currentCity" (input)="searchCity()">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedFilter" (ngModelChange)="searchCity()">
        <mat-radio-button *ngFor="let option of filterOptions" [value]="option">{{ option }}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div *ngIf="cityWeatherData" class="table">
      <div class="table-col cityname">{{currentCityData.name}}</div>
      <ng-container *ngFor="let item of cityWeatherData[this.selectedFilter]; let idx = index">
        <div *ngIf="selectedFilter === 'hourly' && (idx % 3) === 0 && idx <= 23" class="table-col">{{item.temp}}</div>
        <div *ngIf="selectedFilter === 'daily' && idx <= 6" class="table-col">{{item.temp.day}}</div>
      </ng-container>

    </div>
  </div>
</div>
